label {
	color: blue;
}

#menu {
	float: left;
	width: 150px;
	background-color: gray;
}
#menu ul {
	list-style: none;
}
#menu ul a:hover {
	background-color: white;
}

#sisalto {
	margin-left: 170px;
}